flows.json
[
    {
        "id": "5aabf089.3ea8d",
        "type": "tab",
        "label": "Sample",
        "disabled": false,
        "info": ""
    },
    {
        "id": "17c8105a.296008",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6dc3181b.94ee6",
        "type": "swagger-doc",
        "z": "",
        "summary": "",
        "description": "",
        "tags": "continuous-integration",
        "consumes": "",
        "produces": "",
        "parameters": [],
        "responses": {
            "201": {
                "description": "Created"
            }
        },
        "deprecated": false
    },
    {
        "id": "190d4eb1.a0ea49",
        "type": "build-image",
        "z": "5aabf089.3ea8d",
        "name": "",
        "remote": "",
        "nocache": false,
        "pull": false,
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "d8025478.3647"
            ],
            [
                "5c8ace5d.bd43b8"
            ]
        ]
    },
    {
        "id": "d8025478.3647",
        "type": "create-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "image": "",
        "pull": false,
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "e9a2cea.9387eb",
                "63bf0368.59fdf4"
            ]
        ]
    },
    {
        "id": "e9a2cea.9387eb",
        "type": "start-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "2be013cb.8e7f6c",
                "3be22757.61c6b",
                "63bf0368.59fdf4"
            ]
        ]
    },
    {
        "id": "2be013cb.8e7f6c",
        "type": "read-logs",
        "z": "5aabf089.3ea8d",
        "name": "",
        "follow": true,
        "stderr": true,
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "5c8ace5d.bd43b8"
            ]
        ]
    },
    {
        "id": "3be22757.61c6b",
        "type": "stop-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "63bf0368.59fdf4"
            ]
        ]
    },
    {
        "id": "26d0769c.0ad7ca",
        "type": "comment",
        "z": "5aabf089.3ea8d",
        "name": "Interfaces",
        "info": "## API\n\n[/http-api/swagger.json](http://localhost:1880/http-api/swagger.json)\n\n## Build webhook\n\n[POST] http://localhost:1880/build\n\n## Gogs (Git)\n\nhttp://localhost:3000/\n\n## Remote\n\nhttp://localhost:3000/ddm/litest/raw/master/Dockerfile\n",
        "x": 80,
        "y": 580,
        "wires": []
    },
    {
        "id": "d60da5d0.b9d66",
        "type": "http in",
        "z": "5aabf089.3ea8d",
        "name": "",
        "url": "/build",
        "method": "post",
        "upload": false,
        "swaggerDoc": "6dc3181b.94ee6",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "67a711b1.6be8b8",
                "2e1635da.84d492",
                "5999c73.1e2c3b8"
            ]
        ]
    },
    {
        "id": "5c8ace5d.bd43b8",
        "type": "debug",
        "z": "5aabf089.3ea8d",
        "name": "stream",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.stream",
        "targetType": "msg",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "67a711b1.6be8b8",
        "type": "http response",
        "z": "5aabf089.3ea8d",
        "name": "Created",
        "statusCode": "201",
        "headers": {},
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "63bf0368.59fdf4",
        "type": "inspect-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "protocol": "https",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "f4098bff.1ae5a"
            ]
        ]
    },
    {
        "id": "2e1635da.84d492",
        "type": "template",
        "z": "5aabf089.3ea8d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"remote\": \"http://localhost:3000/ddm/litest/raw/master/Dockerfile\"\n}",
        "output": "json",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "190d4eb1.a0ea49",
                "a9505c15.073888"
            ]
        ]
    },
    {
        "id": "f4098bff.1ae5a",
        "type": "debug",
        "z": "5aabf089.3ea8d",
        "name": "info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.State.Status",
        "targetType": "msg",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "5999c73.1e2c3b8",
        "type": "debug",
        "z": "5aabf089.3ea8d",
        "name": "commit",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 100,
        "y": 300,
        "wires": []
    },
    {
        "id": "a9505c15.073888",
        "type": "debug",
        "z": "5aabf089.3ea8d",
        "name": "remote",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 340,
        "y": 40,
        "wires": []
    }
]