flows.json
[
    {
        "id": "5aabf089.3ea8d",
        "type": "tab",
        "label": "Sample",
        "disabled": false,
        "info": ""
    },
    {
        "id": "17c8105a.296008",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aea162e7.b7cec",
        "type": "ui_tab",
        "z": "",
        "name": "CI",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "3ed7103d.ce2a7",
        "type": "ui_group",
        "z": "",
        "name": "Output",
        "tab": "aea162e7.b7cec",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "805f2c66.ba6e88",
        "type": "ui_group",
        "z": "",
        "name": "Summary",
        "tab": "aea162e7.b7cec",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "6dc3181b.94ee6",
        "type": "swagger-doc",
        "z": "",
        "summary": "",
        "description": "",
        "tags": "continuous-integration",
        "consumes": "",
        "produces": "",
        "parameters": [],
        "responses": {
            "201": {
                "description": "Created"
            }
        },
        "deprecated": false
    },
    {
        "id": "248fedb9.b47f1a",
        "type": "ui_template",
        "z": "5aabf089.3ea8d",
        "group": "3ed7103d.ce2a7",
        "name": "Build log",
        "order": 2,
        "width": "18",
        "height": "10",
        "format": "<pre ng-bind-html=\"msg.payload.log\"></pre>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 520,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4253048d.179f34",
        "type": "ui_button",
        "z": "5aabf089.3ea8d",
        "name": "Button",
        "group": "3ed7103d.ce2a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Build and run",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"remote\":\"http://localhost:3000/ddm/litest/raw/master/Dockerfile\",\"log\":\"\",\"Id\":\"\"}",
        "payloadType": "json",
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "190d4eb1.a0ea49",
                "e63cdc7f.caf3b8",
                "248fedb9.b47f1a",
                "de772a1d.18a57",
                "219d36bc.a2f04a"
            ]
        ]
    },
    {
        "id": "190d4eb1.a0ea49",
        "type": "build-image",
        "z": "5aabf089.3ea8d",
        "name": "",
        "remote": "",
        "nocache": false,
        "pull": false,
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "d8025478.3647",
                "39e4acab.38bae4"
            ],
            [
                "248fedb9.b47f1a",
                "39e4acab.38bae4"
            ]
        ]
    },
    {
        "id": "d8025478.3647",
        "type": "create-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "image": "",
        "pull": false,
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "e9a2cea.9387eb",
                "219d36bc.a2f04a",
                "e63cdc7f.caf3b8",
                "127cab78.d3529d",
                "39e4acab.38bae4"
            ]
        ]
    },
    {
        "id": "e9a2cea.9387eb",
        "type": "start-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "2be013cb.8e7f6c",
                "3be22757.61c6b",
                "127cab78.d3529d",
                "39e4acab.38bae4"
            ]
        ]
    },
    {
        "id": "2be013cb.8e7f6c",
        "type": "read-logs",
        "z": "5aabf089.3ea8d",
        "name": "",
        "follow": true,
        "stderr": true,
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "de772a1d.18a57",
                "39e4acab.38bae4"
            ]
        ]
    },
    {
        "id": "3be22757.61c6b",
        "type": "stop-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "127cab78.d3529d",
                "39e4acab.38bae4"
            ]
        ]
    },
    {
        "id": "127cab78.d3529d",
        "type": "inspect-container",
        "z": "5aabf089.3ea8d",
        "name": "",
        "protocol": "http",
        "hostname": "host.docker.internal",
        "port": "1234",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "e63cdc7f.caf3b8",
                "39e4acab.38bae4"
            ]
        ]
    },
    {
        "id": "de772a1d.18a57",
        "type": "ui_template",
        "z": "5aabf089.3ea8d",
        "group": "3ed7103d.ce2a7",
        "name": "Run log",
        "order": 3,
        "width": "18",
        "height": "4",
        "format": "<pre ng-bind-html=\"msg.payload.log\"></pre>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e63cdc7f.caf3b8",
        "type": "ui_text",
        "z": "5aabf089.3ea8d",
        "group": "805f2c66.ba6e88",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload.State.Status}}",
        "layout": "row-left",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "219d36bc.a2f04a",
        "type": "ui_text",
        "z": "5aabf089.3ea8d",
        "group": "805f2c66.ba6e88",
        "order": 2,
        "width": "15",
        "height": "1",
        "name": "",
        "label": "Container:",
        "format": "{{msg.payload.Id}}",
        "layout": "row-left",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "26d0769c.0ad7ca",
        "type": "comment",
        "z": "5aabf089.3ea8d",
        "name": "UIs",
        "info": "# Dashboard\n\n## UI\n\n[/dashboard](http://localhost:1880/dashboard/)\n\n## swagger.json\n\n[/http-api/swagger.json](http://localhost:1880/http-api/swagger.json)\n",
        "x": 70,
        "y": 580,
        "wires": []
    },
    {
        "id": "d60da5d0.b9d66",
        "type": "http in",
        "z": "5aabf089.3ea8d",
        "name": "",
        "url": "/build",
        "method": "post",
        "upload": false,
        "swaggerDoc": "6dc3181b.94ee6",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "4253048d.179f34",
                "39e4acab.38bae4",
                "60cd3406.309874"
            ]
        ]
    },
    {
        "id": "67a711b1.6be8b8",
        "type": "http response",
        "z": "5aabf089.3ea8d",
        "name": "Created",
        "statusCode": "201",
        "headers": {},
        "x": 120,
        "y": 300,
        "wires": []
    },
    {
        "id": "39e4acab.38bae4",
        "type": "debug",
        "z": "5aabf089.3ea8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 310,
        "y": 580,
        "wires": []
    },
    {
        "id": "60cd3406.309874",
        "type": "function",
        "z": "5aabf089.3ea8d",
        "name": "",
        "func": "const commit = msg.payload.after;\nmsg.payload = {\n  commit: commit\n};\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "67a711b1.6be8b8",
                "39e4acab.38bae4"
            ]
        ]
    }
]